html {
	height: 100%;
}

hr {
	width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

/* general styles */
html, body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	width: 100%;
}

/* brand */
.navbar-brand {
	font-family: 'Pacifico', sans-serif;
}

/* padded section */
.pad-section {
	padding: 50px 0;
}
.pad-section img {
	width: 100%;
}
/* vertical-centered text */

h1 {
	font-size: 8em;
}

h2 {
	font-size: 5em;
}

h3 {
	font-size: 3em;
}

.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-vcenter h1 {
	font-size: 8em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.text-vcenter h2 {
	font-family: 'Pacifico', sans-serif;
	font-size: 5em;
	font-weight: 400px;
}

.text-vcenter h3 {
	font-size: 2em;
	font-weight: 400px;
}

/* additional sections */
#home {
	background: url(https://images.unsplash.com/photo-1453171194557-e6c630bb8af0) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.shadow {
	color: white;
	text-align: center;
	padding-top: 20%;

	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.strong {
	color: white;
	text-align: center;
	padding-top: 25%;
}

#about {
	font-family: 'Lato', sans-serif;
	color: black;
	text-align: center;
}

#services {
	background-color: #B9534B;
	color: #ffffff;
}

#services .glyphicon {
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	font-size: 60px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}
#information {
	background: url(https://images.unsplash.com/photo-1492175881389-e5553ef372e0) no-repeat center center fixed; 
	display: table;
	height: 800px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
background-size: cover;
}
#information .panel {
	opacity: 0.85;
}
#contact {
	height: 500px;
}
footer {
	padding: 20px 0;
}
footer .glyphicon {
	color: #333333;
	font-size: 60px;
}
footer .glyphicon:hover {
	color: #306d9f;
}